// Copyright (C) 2020 eth-p | https://eth-p.dev/
include component/section

html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		meta(name="robots" content="noindex, nofollow, nosnippet, noarchive, noimageindex")
		
		title #{me.name}'s Résumé
		
		-// Add the page scripts and styles.
		for link in links
			|!{link}

	body
		-// Any intro sections will be added as the header.
		header
			for section in sections.filter(section => section['section-type'] === 'intro')
				+section.seamless(section)
		
		-// Remaining sections will be added as the main content.
		main
			for section in sections.filter(section => section['section-type'] !== 'intro')
				+section(section)
